.footerNavbarShortcut {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
}

.copywright {
  display: flex;
  justify-content: flex-start;
}

.footer {
  background-color: #ecebeb;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.rightFotter {
  display: flex;
  flex-direction: column;
}
